
@font-face {
    font-family:"Brockmann Medium";
    src:url("Brockmann-Medium.woff2") format("woff2"),url("Brockmann-Medium.woff") format("woff"),url("Brockmann-Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        