
@font-face {
    font-family:"Brockmann Bold";
    src:url("Brockmann-Bold.woff2") format("woff2"),url("Brockmann-Bold.woff") format("woff"),url("Brockmann-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        