
@font-face {
    font-family:"Brockmann Bold Italic";
    src:url("Brockmann-BoldItalic.woff2") format("woff2"),url("Brockmann-BoldItalic.woff") format("woff"),url("Brockmann-BoldItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        