
@font-face {
    font-family:"Brockmann Regular";
    src:url("Brockmann-Regular.woff2") format("woff2"),url("Brockmann-Regular.woff") format("woff"),url("Brockmann-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        