@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@theme {
  --shadow-layer: 0 35px 60px -15px rgba(0, 0, 0, 0.3);
  --color-framework: #031425;
  --color-black: #031425;
  --color-white: #fff;
  --color-brand: #F24E1A;
  --color-blue: #002952;
  --color-midnight-blue: #002952;
  --color-midnight-blue-darker: #031425;
  --color-bright-blue: #0092FF;
  --color-light-blue: #79ECFF;
  --color-teal-green: #2CB592;
  --color-green: #2CB592;
  --color-accent-brick: #A84C5C;
  --color-yellow: #FFA700;
  --color-orange: #F24E1A;
  --color-gold: #FFA700;
  --color-gradient: linear-gradient(86deg,  #F24E1A 42.2%,  #FFA700 100%);
  --color-sand: #F6F6F3;
  --color-gray: #939393;
  --color-gray-50: #f6f6f8;
  --color-gray-100: #eeeef1;
  --color-gray-200: #e3e4e8;
  --color-gray-300: #bbbdc9;
  --color-gray-400: #9499ad;
  --color-gray-500: #939393;
  --color-gray-600: #515870;
  --color-gray-700: #383d51;
  --color-gray-800: #252837;
  --color-gray-900: #1b1d27;
  --color-gray-950: #13141b;
  --color-start: var(--color-orange);
  --color-end: var(--color-gold);

  --font-display: var(--font-brockmann), 'sans-serif';
  --font-sans:  var(--font-brockmann), 'sans-serif';
  --font-serif:  var(--font-zilla-slab), 'serif';

  --default-transition-duration: 250ms;
  --container-max: 1320px;

  --breakpoint-xs: 30rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 64rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
}

@utility container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: var(--container-max);
	width: 100%;
}

@layer base {
  body {
		@apply text-base md:text-lg;
    color: var(--color-midnight-blue);
    font-family: var(--font-brockmann);
    font-weight: 400;
    line-height: 1.44;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .ratio-square .responsive-iframe-container {
    padding-bottom: 100%;
  }

  .ratio-16\/9 .responsive-iframe-container {
    padding-bottom: 56.25%; /* Aspect ratio: 16:9 (56.25% = 9/16 * 100) */
  }

  .ratio-3\/2 .responsive-iframe-container {
    padding-bottom: 66.67%; /* Aspect ratio: 16:9 (56.25% = 9/16 * 100) */
  }

  .responsive-iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Aspect ratio: 16:9 (56.25% = 9/16 * 100) */
    height: 0;
    overflow: hidden;
  }

  .responsive-iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  h1,
  .h1 {
    @apply font-light text-6xl md:text-[64px] leading-[1.1] font-medium mb-4;
  }

  h2,
  .h2 {
    @apply font-light text-5xl leading-[1.1] md:text-[56px] font-medium mb-4;
  }

  h3,
  .h3 {
    @apply text-4xl leading-[1.1] md:text-5xl font-medium;
  }

  h4,
  .h4 {
    @apply text-3xl md:text-4xl leading-[1.3];
  }

  h5,
  .h5 {
    @apply text-xl md:text-2xl md:leading-[30px];
  }

  h6,
  .h6 {
    @apply text-base leading-[18px] md:text-lg md:leading-[22px];
    font-family: var(--font-zilla-slab);
  }

  p {
    @apply text-base md:text-lg md:leading-[26px];
  }

  small {
    @apply text-sm leading-[18px];
  }


  h3 strong, h4 strong {
    font-weight: 500;
  }

  strong {
    font-weight: 700;
  }

  sup {
    @apply text-xs;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }

  hr {
    @apply h-1 bg-gray-100 border-0;
  }

  ul {
    @apply list-disc ml-4;
  }

  ul li, ol li {
    @apply mb-4;
  }

  ol {
    @apply list-decimal ml-4;
  }

  .toc-inner-content h1,
  .toc-inner-content h2,
  .toc-inner-content h3,
  .toc-inner-content h4,
  .toc-inner-content h5 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .font-serif {
    font-family: var(--font-zilla-slab);
  }
}


@layer components {
  .btn-primary {
    @apply text-black font-bold rounded py-3 px-8 min-w-[150px];
    background: linear-gradient(81deg, var(--color-start) 9.79%, var(--color-end) 84.97%);
    transition: all 0.4s ease-out;
    cursor: pointer;
  }
  .btn-primary:hover {
    text-decoration: none;
    --color-start: var(--color-gold);
    --color-end: var(--color-gold);
  }

  .btn-secondary {
    @apply text-black font-bold rounded py-3 px-8 min-w-[150px] border-2 border-blue;
    transition: all 0.4s ease-out;
  }
  .btn-secondary:hover {
    @apply text-white font-bold rounded py-3 px-8 min-w-[150px] border-2 border-blue bg-blue;
    transition: all 0.4s ease-out;
  }

  .text-balance {
    text-wrap: balance;
  }

  .grid {
    @apply gap-4 sm:gap-4 md:gap-6 lg:gap-8;
  }

  .grid-container {
    @apply grid grid-cols-12 sm:grid-cols-6 md:grid-cols-12 ;
  }
}
