@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@utility container {
  margin: 0 auto;
  padding: 0 2rem;
}

@theme {
  --shadow-layer: 0 35px 60px -15px rgba(0, 0, 0, 0.3);

  --color-framework: #031425;
  --color-black: #031425;
  --color-white: #fff;
  --color-brand: #F24E1A;
  --color-blue: #002952;
  --color-midnight-blue: #002952;
  --color-midnight-blue-darker: #031425;
  --color-bright-blue: #0092FF;
  --color-light-blue: #79ECFF;
  --color-teal-green: #2CB592;
  --color-accent-brick: #A84C5C;
  --color-yellow: #FFA700;
  --color-orange: #F24E1A;
  --color-orange: #FFA700;
  --color-gradient: linear-gradient(86deg,  #F24E1A 42.2%,  #FFA700 100%);
  --color-sand: #F6F6F3;
  --color-gray-50: #f6f6f8;
  --color-gray-100: #eeeef1;
  --color-gray-200: #e3e4e8;
  --color-gray-300: #bbbdc9;
  --color-gray-400: #9499ad;
  --color-gray-500: #727892;
  --color-gray-600: #515870;
  --color-gray-700: #383d51;
  --color-gray-800: #252837;
  --color-gray-900: #1b1d27;
  --color-gray-950: #13141b;

  --font-display: var(--font-brockmann), 'sans-serif';
  --font-sans:  var(--font-brockmann), 'sans-serif';

  --default-transition-duration: 250ms;
}

body {
	color: var(--color-midnight-blue);
	font-family: var(--font-brockmann);
	font-size: var(--text-base);
	font-weight: 400;
	line-height: 1.44;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@layer base {
  img {
    max-width: 100%;
    height: auto;
  }

  .ratio-square .responsive-iframe-container {
    padding-bottom: 100%;
  }

  .ratio-16\/9 .responsive-iframe-container {
    padding-bottom: 56.25%; /* Aspect ratio: 16:9 (56.25% = 9/16 * 100) */
  }

  .ratio-3\/2 .responsive-iframe-container {
    padding-bottom: 66.67%; /* Aspect ratio: 16:9 (56.25% = 9/16 * 100) */
  }

  .responsive-iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Aspect ratio: 16:9 (56.25% = 9/16 * 100) */
    height: 0;
    overflow: hidden;
  }

  .responsive-iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  h1,
  .h1 {
    @apply font-light text-6xl md:text-[64px] leading-normal font-medium;
  }

  h2,
  .h2 {
    @apply font-light text-5xl leading-normal md:text-[56px] font-medium;
  }

  h3,
  .h3 {
    @apply text-4xl leading-normal md:text-5xl font-medium;
  }

  h4,
  .h4 {
    @apply text-3xl md:text-4xl md:leading-normal;
  }

  h5,
  .h5 {
    @apply text-xl md:text-2xl md:leading-[30px];
  }

  h6,
  .h6 {
    @apply text-base leading-[18px] md:text-lg md:leading-[22px];
    font-family: var(--font-zilla-slab);
  }

  p {
    @apply text-base md:text-lg md:leading-[26px];
  }

  small {
    @apply text-sm leading-[18px];
  }
}
