.accordion-item {
	transition: all 0.4s;
	border-bottom: 1px solid var(--color-bright-blue);
}
.accordion-item:hover {
	transition: all 0.4s;
	background: var(--color-sand);
}

.accordion-item:first-child {
	border-top: 1px solid var(--color-bright-blue);
}

.label {
	position: relative;
	display: flex;
	width: 100%;
	cursor: pointer;
}

.label:after {
	position: absolute;
	color: var(--color-red);
	right: 0;
	top: -2px;
	content: '+';
	font-size: 36px;
}

.label[aria-expanded='true']:after {
	content: '-';
	color: var(--color-red);
	position: absolute;
	right: 0;
	top: -2px;
	font-size: 36px;
}
