
@font-face {
    font-family:"Brockmann Medium Italic";
    src:url("Brockmann-MediumItalic.woff2") format("woff2"),url("Brockmann-MediumItalic.woff") format("woff"),url("Brockmann-MediumItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        