
@font-face {
    font-family:"Brockmann SemiBold";
    src:url("Brockmann-SemiBold.woff2") format("woff2"),url("Brockmann-SemiBold.woff") format("woff"),url("Brockmann-SemiBold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        