
@font-face {
    font-family:"Brockmann SemiBold Italic";
    src:url("Brockmann-SemiBoldItalic.woff2") format("woff2"),url("Brockmann-SemiBoldItalic.woff") format("woff"),url("Brockmann-SemiBoldItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        