
@font-face {
    font-family:"Brockmann Regular Italic";
    src:url("Brockmann-RegularItalic.woff2") format("woff2"),url("Brockmann-RegularItalic.woff") format("woff"),url("Brockmann-RegularItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        