@reference 'tailwindcss';

.testimonial-carousel .carousel-container {
	position: relative;
}

.testimonial-carousel .f-carousel__viewport {
  overflow: visible;
}

.testimonial-carousel .f-carousel {
	--f-carousel-spacing: 32px;
}

.testimonial-carousel .f-carousel__slide {
	width: 100%;
}

.testimonial-carousel .f-carousel__nav {
	@apply absolute flex items-center justify-between gap-5 -bottom-12 left-2 lg:bottom-auto lg:top-64 lg:left-auto lg:right-[48px] w-[160px];
}

.testimonial-carousel .f-carousel__nav .f-button {
	top: auto !important;
	transform: none !important;
	width: 60px;
	height: 64px;
	bottom: 0px;
	position: relative;
}


.testimonial-carousel .f-carousel__nav .f-button svg {
	width: 60px;
	height: 60px;
	color: #F24E1A;
}

.testimonial-carousel .f-carousel__nav .f-button.is-prev {
	left: 0;
	order: 1;
}

.testimonial-carousel .f-carousel__nav .f-button.is-next{
	right: 0;
	order: 2;
}

.testimonial-carousel .f-carousel__dots {
  display: none;
}

.testimonial-carousel .f-progress {
  display: none;
}
