@reference 'tailwindcss';

.carousel-container {
	position: relative;
}

.testimonial-carousel .f-carousel {
	--f-carousel-spacing: 32px;
}

.testimonial-carousel .f-carousel__slide {
	width: 100%;
}

.testimonial-carousel .f-carousel__nav {
	@apply absolute flex items-center justify-between gap-5 absolute top-60 right-16;
}

.testimonial-carousel .f-carousel__nav .f-button {
	top: auto !important;
	transform: none !important;
	width: 60px;
	height: 64px;
	bottom: 0px;
	position: relative;
}


.testimonial-carousel .f-carousel__nav .f-button svg {
	width: 60px;
	height: 60px;
	color: #F24E1A;
}

.testimonial-carousel .f-carousel__nav .f-button.is-prev {
	left: 0;
	order: 1;
}

.testimonial-carousel .f-carousel__nav .f-button.is-next{
	right: 0;
	order: 2;
}

.testimonial-carousel .f-carousel__dots {
  display: none;
}
